{% extends 'base.html' %}

{% block content %}

<div class="container-fluid">
	<div class="row">
		<div class="col-lg-12">
			<div class="card">
				<div class="card-header">Partido</div>
				<div class="card-body">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-group">
                                <label for="cc-payment" class="control-label mb-1">Nome:</label>
                                <input type="text" placeholder="{{ party.name }}" disabled="" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="cc-payment" class="control-label mb-1">Sigla:</label>
                                {% if party.initials %}
                                    <input type="text" placeholder="{{ party.initials }}" disabled="" class="form-control">
                                {% else %}
                                    <input type="text" placeholder="" disabled="" class="form-control">
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="cc-payment" class="control-label mb-1">Número:</label>
                                {% if party.number %}
                                    <input type="text" placeholder="{{ party.number }}" disabled="" class="form-control">
                                {% else %}
                                    <input type="text" placeholder="" disabled="" class="form-control">
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <label for="cc-payment" class="control-label mb-1">Presidente:</label>
                                {% if party.leadership %}
                                    <input type="text" placeholder="{{ party.leadership }}" disabled="" class="form-control">
                                {% else %}
                                    <input type="text" placeholder="" disabled="" class="form-control">
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="cc-payment" class="control-label mb-1">Coligação:</label>
                                {% if party.union %}
                                    <input type="text" placeholder="{{ party.union }}" disabled="" class="form-control">
                                {% else %}
                                    <input type="text" placeholder="" disabled="" class="form-control">
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="row">
						<div class="col-md-6">
							<div class="form-actions form-group">
								<button onclick="window.location.href='{% url 'parties:editar' party.pk %}'" class="btn btn-warning btn-md">Editar</button>
								<button onclick="window.location.href='{% url 'parties:partidos' %}'" class="btn btn-secondary btn-md">Voltar</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}