{% extends 'base.html' %}

{% block content %}

{% load app_tags %}

{% if messages %}
{% include 'messages/message.html' %}
{% endif %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <!-- DATA TABLE -->
            <h3 class="title-3 m-b-30">Autoridades</h3>
            <div class="table-data__tool">
                <div class="table-data__tool-left">
                    <form method="get">
                        <div class="rs-select2--light rs-select2--lg">
                            <input type="text" title="Para aniversario:&#013;Dia: 01&#013;ou Mes: 8" id="filter" name="filter" class="form-control">
                        </div>
                        <button class="au-btn-filter">
                            <i class="zmdi zmdi-search"></i>Buscar</button>
                    </form>
                </div>
                <div class="table-data__tool-right">
                    <button class="au-btn au-btn-icon au-btn-load au-btn--small" onclick="window.location.href='{% url 'authorities:cadastrar' %}'">
                        <i class="zmdi zmdi-plus"></i>Criar</button>
                    <button class="au-btn au-btn-icon au-btn-load au-btn--small" onclick="window.location.href='{% url 'authorities:download' %}'">
                        <i class="zmdi zmdi-email"></i>Correios</button>
                    <button class="au-btn au-btn-icon au-btn-load au-btn--small" onclick="window.location.href='{% url 'core:download-report' %}'">
                        <i class="zmdi zmdi-archive"></i>Relatório</button>
                </div>
                
            </div>
            <div class="table-responsive table-responsive-data2">
                <table class="table table-data2">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Cargo</th>
                            <th>Instituição</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for authoritie in object_list %}
                            <tr>
                                <td>{{ authoritie.name }}</td>
                                <td>{{ authoritie.position }}</td>
                                <td>{{ authoritie.institution }}</td>
                                <td>
                                    <div class="table-data-feature">
                                        <button class="item" data-toggle="tooltip" data-placement="top" title="Detalhes" onclick="window.location.href='{% url 'authorities:autoridade' authoritie.pk %}'">
                                            <i class="zmdi zmdi-file-text"></i>
                                        </button>
                                        <button class="item" data-toggle="tooltip" data-placement="top" title="Editar" onclick="window.location.href='{% url 'authorities:editar' authoritie.pk %}'">
                                            <i class="zmdi zmdi-edit"></i>
                                        </button>
                                        <button class="item" data-toggle="tooltip" data-placement="top" title="Excluir" onclick="window.location.href='{% url 'authorities:excluir' authoritie.pk %}'">
                                            <i class="zmdi zmdi-delete"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                            <tr class="spacer"></tr>
                        {% empty %}
                            <tr>
                                <td>Sem cadastros</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <!-- END DATA TABLE -->
            {% if is_paginated %}
                <ul class="pagination">
                    {% if page_obj.has_previous %}
                        {% if page_obj.number > 6 %}
                            <li class="page-item"><a class="page-link" href="?{% url_add_query page=previous_page %}"><i class="fas fa-fast-backward"></i></a></li>
                            <li class="page-item"><a class="page-link" href="?{% url_add_query page=page_obj.previous_page_number %}">Anterior</a></li>
                        {% else %}
                            <li class="page-item"><a class="page-link" href="?{% url_add_query page=page_obj.previous_page_number %}">Anterior</a></li>
                        {% endif %}
                    {% else %}
                        <li class="page-item disabled"><span class="page-link">Anteiror</span></li>
                    {% endif %}
                    {% for i in pages %}
                        {% if page_obj.number == i %}
                            <li class="active page-item"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
                        {% else %}
                            <li class="page-item"><a class="page-link" href="?{% url_add_query page=i %}">{{ i }}</a></li>
                        {% endif %}
                    {% endfor %}
                    {% if page_obj.has_next %}
                        <li class="page-item"><a class="page-link" href="?{% url_add_query page=page_obj.next_page_number %}">Próximo</a></li>
                        <li class="page-item"><a class="page-link" href="?{% url_add_query page=next_page %}"><i class="fas fa-fast-forward"></i></a></li>
                    {% else %}
                        <li class="disabled page-item"><span class="page-link">Próximo</span></li>
                    {% endif %}
                </ul>
                {% endif %}
        </div>
    </div>
</div>

<script>
'keydown input[type="text"]': function(event, template) {
    if ((27 === event.which) || (13 === event.which)) {
        event.preventDefault();
        //this should delete value from the input
        event.currentTarget.value = "";
    }
}
</script>
{% endblock %} 