{% extends 'base.html' %}

{% block content %}

<div class="container-fluid">
	<div class="row">
		<div class="col-lg-12">
			<div class="card">
                <div class="card-header">Candidato</div>
				<div class="card-body">
					<div class="form-group">
						<label for="cc-payment" class="control-label mb-1">Nome:</label>
                        <input type="text" placeholder="{{ candidate.name }}" disabled="" class="form-control">
					</div>
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label for="cc-payment" class="control-label mb-1">Partido:</label>
                                <input type="text" placeholder="{{ candidate.party }}" disabled="" class="form-control">
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label for="cc-payment" class="control-label mb-1">Número:</label>
                                <input type="text" placeholder="{{ candidate.number }}" disabled="" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label for="cc-payment" class="control-label mb-1">Cargo:</label>
                                <input type="text" placeholder="{{ candidate.position }}" disabled="" class="form-control">
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label for="cc-payment" class="control-label mb-1">Votos:</label>
                                <input type="text" placeholder="{{ candidate.votes }}" disabled="" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="form-actions form-group">
                                <button onclick="window.location.href='{% url 'candidates:editar' candidate.pk %}'" class="btn btn-warning btn-md">Editar</button>
                                <button onclick="window.location.href='{% url 'candidates:candidatos' %}'" class="btn btn-secondary btn-md">Voltar</button>
                            </div>
                        </div>
                    </div>
                </div
            </div>
        </div>
    </div>
</div>
{% endblock %}