{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
	<div class="row">
		<div class="col-lg-12">
			<div class="card">
				<div class="card-header">Cargo</div>
				<div class="card-body">
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label for="cc-payment" class="control-label mb-1" disabled="">Nome:</label>
								{% if position.position %}
									<input type="text" id="disabled-input" name="disabled-input" placeholder="{{ position.position }}" disabled="" class="form-control">
								{% else %}
									<input type="text" id="disabled-input" name="disabled-input" placeholder="" disabled="" class="form-control">
								{% endif %}
							</div>
						</div>
						<div class="col-md-3">
							<div class="form-group">
								<label for="cc-payment" class="control-label mb-1">Tratamento:</label>
								{% if position.handling %}
									<input type="text" id="disabled-input" name="disabled-input" placeholder="{{ position.handling }}" disabled="" class="form-control">
								{% else %}
									<input type="text" id="disabled-input" name="disabled-input" placeholder="" disabled="" class="form-control">
								{% endif %}
							</div>
						</div>
						<div class="col-md-3">
							<div class="form-group">
								<label for="cc-payment" class="control-label mb-1">Abreviação:</label>
								{% if position.abbreviation %}
									<input type="text" id="disabled-input" name="disabled-input" placeholder="{{ position.abbreviation }}" disabled="" class="form-control">
								{% else %}
									<input type="text" id="disabled-input" name="disabled-input" placeholder="" disabled="" class="form-control">
								{% endif %}
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4">
							<div class="form-actions form-group">
								<button onclick="window.location.href='{% url 'positions:editar' position.pk %}'" class="btn btn-warning btn-md">Editar</button>
								<button onclick="window.location.href='{% url 'positions:cargos' %}'" class="btn btn-secondary btn-md">Voltar</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %} 