{% extends 'base.html' %}

{% block content %}

{% if form.errors %}
{% include 'messages/error.html' %}
{% endif %}

<div class="container-fluid">
	<div class="row">
		<div class="col-lg-12">
			<div class="card">
				<div class="card-header">Liderança</div>
				<div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="cc-payment" class="control-label mb-1">Atualizado em {{ leadership.updated }}</label>
                            </div> 
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-group">
                                <label class="control-label mb-1">Nome:</label>
                                <input type="text" placeholder="{{ leadership.name }}" disabled="" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label mb-1">Pseudonimo:</label>
                                {% if leadership.nickname %}
                                    <input type="text" placeholder="{{ leadership.nickname }}" disabled="" class="form-control">
                                {% else %}
                                    <input type="text" placeholder="" disabled="" class="form-control">
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="control-label mb-1">Aniversário</label>
                                {% if leadership.birth %}
                                    <input type="text" placeholder="{{ leadership.birth }}" disabled="" class="form-control">
                                {% else %}
                                    <input type="text" placeholder="" disabled="" class="form-control">
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="control-label mb-1">CPF:</label>
                                {% if leadership.cpf %}
                                    <input type="text" placeholder="{{ leadership.cpf }}" disabled="" class="form-control">
                                {% else %}
                                    <input type="text" placeholder="" disabled="" class="form-control">
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="control-label mb-1">RG</label>
                                {% if leadership.rg %}
                                    <input type="text" placeholder="{{ leadership.rg }}" disabled="" class="form-control">
                                {% else %}
                                    <input type="text" placeholder="" disabled="" class="form-control">
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label mb-1">Telefone:</label>
                                {% if leadership.phone_number %}
                                    <input type="text" placeholder="{{ leadership.phone_number }}" disabled="" class="form-control">
                                {% else %}
                                    <input type="text" placeholder="" disabled="" class="form-control">
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label mb-1">Celular:</label>
                                {% if leadership.cellphone %}
                                    <input type="text" placeholder="{{ leadership.cellphone }}" disabled="" class="form-control">
                                {% else %}
                                    <input type="text" placeholder="" disabled="" class="form-control">
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label mb-1">Residencial:</label>
                                {% if leadership.phone_home %}
                                    <input type="text" placeholder="{{ leadership.phone_home }}" disabled="" class="form-control">
                                {% else %}
                                    <input type="text" placeholder="" disabled="" class="form-control">
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label mb-1">Email:</label>
                                {% if leadership.email %}
                                    <input type="text" placeholder="{{ leadership.email }}" disabled="" class="form-control">
                                {% else %}
                                    <input type="text" placeholder="" disabled="" class="form-control">
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label mb-1">Rua:</label>
                                {% if leadership.street %}
                                    <input type="text" placeholder="{{ leadership.street }}" disabled="" class="form-control">
                                {% else %}
                                    <input type="text" placeholder="" disabled="" class="form-control">
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label class="control-label mb-1">Número:</label>
                                {% if leadership.number %}
                                    <input type="text" placeholder="{{ leadership.number }}" disabled="" class="form-control">
                                {% else %}
                                    <input type="text" placeholder="" disabled="" class="form-control">
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label mb-1">Complemento:</label>
                                {% if leadership.complement %}
                                    <input type="text" placeholder="{{ leadership.complement }}" disabled="" class="form-control">
                                {% else %}
                                    <input type="text" placeholder="" disabled="" class="form-control">
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label mb-1">Bairro:</label>
                                {% if leadership.neighborhood %}
                                    <input type="text" placeholder="{{ leadership.neighborhood }}" disabled="" class="form-control">
                                {% else %}
                                    <input type="text" placeholder="" disabled="" class="form-control">
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label mb-1">Cidade:</label>
                                {% if leadership.city %}
                                    <input type="text" placeholder="{{ leadership.city }}" disabled="" class="form-control">
                                {% else %}
                                    <input type="text" placeholder="" disabled="" class="form-control">
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label mb-1">Estado:</label>
                                {% if leadership.state %}
                                    <input type="text" placeholder="{{ leadership.state }}" disabled="" class="form-control">
                                {% else %}
                                    <input type="text" placeholder="" disabled="" class="form-control">
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="control-label mb-1">CEP:</label>
                                {% if leadership.cep %}
                                    <input type="text" placeholder="{{ leadership.cep }}" disabled="" class="form-control">
                                {% else %}
                                    <input type="text" placeholder="" disabled="" class="form-control">
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label mb-1">Cargo:</label>
                                {% if leadership.position %}
                                    <input type="text" placeholder="{{ leadership.position }}" disabled="" class="form-control">
                                {% else %}
                                    <input type="text" placeholder="" disabled="" class="form-control">
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label mb-1">Referência:</label>
                                {% if leadership.office %}
                                    <input type="text" placeholder="{{ leadership.office }}" disabled="" class="form-control">
                                {% else %}
                                    <input type="text" placeholder="" disabled="" class="form-control">
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label mb-1">Pendência:</label>
                                {% if leadership.pendency %}
                                    <input type="text" placeholder="{{ leadership.pendency }}" disabled="" class="form-control">
                                {% else %}
                                    <input type="text" placeholder="" disabled="" class="form-control">
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-group">
                                <label class="control-label mb-1">Observação:</label>
                                {% if leadership.note %}
                                    <textarea type="text" placeholder="{{ leadership.note }}" disabled="" class="form-control"></textarea>
                                {% else %}
                                    <textarea type="text" placeholder="" disabled="" class="form-control"></textarea>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="row">
						<div class="col-md-6">
							<div class="form-actions form-group">
								<button onclick="window.location.href='{% url 'leadership:editar' leadership.pk %}'" class="btn btn-warning btn-md">Editar</button>
								<button onclick="window.location.href='{% url 'leadership:liderancas' %}'" class="btn btn-secondary btn-md">Voltar</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}