{% extends 'base.html' %}

{% block content %}

{% if form.errors %}
{% include 'messages/error.html' %}
{% endif %}

<div class="container-fluid">
	<div class="row">
		<div class="col-lg-12">
			<div class="card">
				<div class="card-header">Criar Pleito</div>
				<div class="card-body">
					<form action="" method="post" novalidate="novalidate">
						{% csrf_token %}
                        <div class="row">
                            <div class="col-8">
                                <div class="form-group">
                                    <label for="cc-payment" class="control-label mb-1">{{ form.customer.label_tag }}</label>
                                    {{ form.customer }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="cc-payment" class="control-label mb-1">{{ form.description.label_tag }}</label>
                                    {{ form.description }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="cc-payment" class="control-label mb-1">{{ form.indication.label_tag }}</label>
                                    {{ form.indication }}
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="cc-payment" class="control-label mb-1">{{ form.situation.label_tag }}</label>
                                    {{ form.situation }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="cc-payment" class="control-label mb-1">{{ form.value.label_tag }}</label>
                                    {{ form.value }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="cc-payment" class="control-label mb-1">{{ form.note.label_tag }}</label>
                                    {{ form.note }}
                                </div>
                            </div>
                        </div>
                        <div class="form-actions form-group">
                            <button type="submit" class="btn btn-primary btn-sm">Salvar</button>
                        </div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}